:root{
    /*Color*/
    --primary-color: #e59a59;
    --secondary-color: #000000;

    --secondary-font-color: #565656;

    --primary-background-color: rgba(229, 154, 89, 0.8);
    --about-background-color : rgba(255, 225, 199, 0.3);

    --section-background-color: #eee;

    --button-box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
    --card-box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    --card-hover-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}


body{
    font-family: Georgia , serif;
}

input:focus{
    outline: none!important;
    box-shadow: none!important;
    border: none!important;
}

 /* Color */

.primary-color{
    color: var(--primary-color)!important;
}
.secondary-color{
    color: var(--secondary-color)!important;
}


footer, section{
    padding: 100px 0;
    line-height: 30px;
}

.about, .questions, .feedbacks, .conclusion-numbers, .c-form{
    background-color: var(--section-background-color);
}

.fw-600{
    font-weight: 600;
}
/* Header */


header{
    height: 85vh;
    background: url("../img/shot-facade.jpg");
    background-position-y: top;
    background-size: cover;
}



header h1{
    line-height: 4rem;
}

.btn{
    display: block;
    box-shadow: var(--button-box-shadow);
    border: none;
    transition: width 0.5s ease-in-out;
    padding: 8px 15px;
    width: 10rem;
    max-width: 13rem;
    min-width: 10rem;
    border-radius: 0;

}

.btn-primary{
    background-color: var(--primary-color)!important;
}
.btn-secondary{
    background-color: var(--secondary-color)!important;
    color: #eee;
}
.btn:hover{
    width: 14rem;
}

.btn-primary:active, .btn-primary:focus, .btn-secondary:active, .btn-secondary:focus{
    box-shadow: none!important;
    outline: none;
}

.header-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    bottom: -55px;
    left: 10vw;
    height: 60vh;
    padding: 50px 30px;
    background-color: var(--primary-background-color);
    width: min-content;
    min-width: 440px;
    max-width: 400px;
    word-break: break-word;
}

.header-text h5{
    line-height: 1.6;
}

/* About */


.about i{
    position: absolute;
    display: none;
    right: 20px;
    top: 30px;
    font-size: 40px;
    color: var(--primary-color);
}

/*.icon-wrapper-circle{*/
/*    margin: 0 auto 15px;*/
/*    width: 85px;*/
/*    height: 85px;*/
/*    border: 3px solid var(--primary-color);*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    transition: background-color .4s ease-in-out;*/
/*}*/

.line{
    width: 0;
    height: 5px;
    background-color: var(--primary-color);
    margin:  0 auto;
    transition: all .40s ease-in-out;
}

.about{
    text-align: center;
    cursor: pointer;
}
.about-info{
    position: relative;
    text-align: left;
    max-width: 405px;
    margin: 15px auto;
    display: flex;
    gap: 0.6rem;
    padding: 2rem;
    flex-direction: column;
    box-shadow: var(--card-box-shadow);
    transition: all .4s ease-in-out;
}

.about-info:hover{
    box-shadow: var(--card-hover-box-shadow);
    /*border-bottom: 5px solid var(--primary-color);*/
}
/*.about-info p, .about-info h5{*/
/*    display: inline-block;*/
/*}*/

.about .about-info:hover .line{
    width: 220px;
}
.about .about-info:hover .icon-wrapper-circle{
    background-color: var(--about-background-color);
}

.about p{
    color: var(--secondary-font-color);
}


/* Risks */

.about-risks-text{
    padding-top: 30px;
}
.about-risks-text ol{
    line-height: 30px;
    height: 220px;
    overflow-y: auto;
}

.why-risks-text{
    background-color: var(--section-background-color);
    background-image: url("../img/building-draft.png");
    background-size: cover;
    background-position-y: 65%;
    height: 100%;
    padding: 30px;
}
/* Questions */

.accordion-button{
    font-weight: 500;
}
.accordion-button:not(.collapsed){
    background-color: var(--primary-color);
    color: white;
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:focus{
    border-color: var(--primary-color);
}
.accordion-button:focus{
    box-shadow: none;
}
.questions .building h1{
    position: absolute;
}

/* Feedbacks */

.info-number{
    padding: 2rem;
    box-shadow: var(--card-box-shadow);
}

.feedback-picture{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.feedback-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-text{
    padding: 0 20px;
}

/* Carousel */

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}
.carousel-control-prev{
    left: -85px;
}
.carousel-control-next{
    right: -85px;
}
/* medium and up screens */

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.carousel-inner .carousel-item {
    opacity: 0;
    transition: opacity 0.2s;
}

.carousel-inner .carousel-item.active {
    opacity: 1;
}
.carousel-item > div{
    /*box-shadow: var(--card-hover-box-shadow);*/
}

/* Map */
#map {
    height: 360px;
}

/* Our team  */

.our-team .row:last-child{
    padding: 2rem;
    background-color: var(--primary-background-color);
}
.our-team .team-img{
    position: absolute;
    max-width: 300px;
    right: 0;
}

/* Form */

.custom-form {
    position: relative;
    background: url(../img/form-bg.avif);
    background-position-y: center;
    background-size: cover;
}
.custom-form::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6b6b6b30;
}

.custom-form .container {
    position: relative;
    z-index: 1;
}
.custom-form form{
    color: white;
    padding: 2rem;
    backdrop-filter: blur(4px);
}


.form-check-input:checked{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.custom-form .info{
    color: white;
    max-width: 400px;
    padding: 5rem 2rem;
    background-color: var(--primary-background-color);
}

/*NEW*/
.c-form i{
    font-size: 34px;
    margin-bottom: 1.5rem;
}
.c-form .row > div{
    align-self: start;
    text-align: center;
}

.c-form .row:last-child > div{
    padding-right: 2rem;
}

.c-form .row:first-child{
    margin-bottom: 5rem;
}

.c-form .container{
    padding: 0 4.5rem;
}
.c-form input{
    background-color: transparent;
}

@media (max-width: 767px) {
    .why-risks-text{
        background-image: none;
    }
    .about-risks-text{
        padding: 20px 25px ;
    }
    .carousel-control-prev{
        left: -10px;
    }
    .carousel-control-next{
        right: -10px;
    }
    .header-text{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25%);
        width: 80vw;
        min-width: unset;
    }
    .about-risks-text ol{
        height: 450px;
    }
    .our-team .team-img{
        display: none;
    }
    .conclusion-numbers .row{
        gap: 1.5rem;
    }
    .custom-form .row{
        flex-direction: column-reverse;
    }
    .custom-form .info{
        max-width: 100%;
    }
    .custom-form .row>div:first-child{
        padding: 0;
    }
    .custom-form{
        padding: 0;
    }
    .c-form .row{
        gap: 3rem;
    }
    .c-form .row:last-child > div {
        padding-right: 0;
    }
    .c-form button{
        width: 100%;
        max-width: 100%;
    }
}